requests>=2.31.0
numpy==1.26.4
xarray>=2024.1,<2026
netCDF4>=1.7,<2
scipy>=1.11,<2
matplotlib>=3.8,<4
python-dateutil>=2.8.2
ecmwf-api-client>=1.6.5
eccodes>=2.43.0
SHARPpy @ git+https://github.com/sharppy/SHARPpy.git@main
Pillow>=10.0
h5py>=3.10,<4
